.sorter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  margin: 2rem 0 0 6.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  position: relative;
}

.sorter:focus {
  outline: none; /* Supprime la bordure par défaut sur le focus */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5); /* Ajoutez une ombre pour indiquer le focus */
}

.sorter__title {
  margin: 0;
}

.sorter__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
z-index: 5;
}

/* Ajoutez des styles pour le focus sur les éléments de la liste */
.sorter__list li:focus {
  outline: none; /* Supprime la bordure par défaut sur le focus */
  background-color: #f0f0f0; /* Changez la couleur d'arrière-plan pour indiquer le focus */
}

@media screen and (max-width: 768px) {
  .sorter {
      flex-direction: column;
      align-items: center;
      width: 85%;
      margin: auto;
  }

  .sorter__title {
      margin: 2rem 0 1rem;
  }
}
